body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.app{
    box-sizing: border-box;
    width: 100%;
    margin: 0px auto;
    flex: 1;
    flex-grow: 1;
}
.app.emptylayout{
    background-color: #e5e5e5;
    flex-grow: 1;
}

.defaultlayout{
    flex-grow: 1;
}